

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
    
<div class="login hide-login">
    
    <form class="login-container hide-form" id="logform" method="POST" action="/register">
        <h1 id="loginform" style="display: none; font-size: 35px;font-weight: 800;">Sign up</h1>
       <img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" alt="" />
       <div class="input-container hide-section">
          <p><input type="email" placeholder="Email" name="email" /></p>
          <p><input type="name" placeholder="username" name="name" /></p>
          <p><input type="password" placeholder="Password" name="password" /></p>
          <div class="button-login" style="display: flex; width: 100%;">
            <button type="submit" >SIGN UP</button><a href="/register" style="text-decoration: none;"></a>
            <a href="/login"><button type="button" value="Log in" >LOG IN</button></a>
            <% if(typeof errorMessage==='undefined' ) { var
                errorMessage=null;}%> <% if (errorMessage){%>
                <p style="color: red;"><%=errorMessage %></p>
                <% } %>
          </div>
          
       </div>
    </form>
 </div>
    <script src="/js/login.js"></script>
</body>
</html>